$primary-color: rgb(29, 53, 87);
$primary-color-trans: rgba(29, 53, 87, 0.95);
$primary-color-trans2: rgba(29, 53, 87, 0.70);
$secondary-color: rgb(230, 57, 70);
$secondary-color-trans: rgba(230, 57, 70, 0.97);
$secondary-color-trans2: rgba(230, 57, 70, 0.70);
$celadon-blue-color: rgb(69, 123, 157);
$celadon-blue2-color: rgb(55, 93, 116);
$powder-blue-color: rgb(168, 218, 220);
$light-color: rgb(168, 218, 220);
$light-text-color: rgba(255, 255, 255, 0.95);
$main-bg-color: rgb(36, 36, 36);